.videoFooter{
    position: relative;
    bottom: 20%;
    color: white;
    margin-left: 30px;
}

.videoFooter_text h3{
    padding-bottom: 20px;
}

.videoFooter_text p{
    padding-bottom: 20px;
}

.videoFooter_music{
    display: flex;
}


.videoFooterMusic_text{
    width: 80%;
    overflow-x: hidden;
}

.videoFooterMusic_text p{
    animation: moveTheText 5s infinite linear;
}

.videoFooterMusic_text p:hover{
    animation-play-state: paused;
}

.videoFooter_record{
    animation: spinTheRecord 3s infinite linear;
    position: absolute;
    bottom: 5px;
    right: 20px;
    height: 50px;
    filter: invert(1);
}

@keyframes spinTheRecord {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes moveTheText {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media only screen and  (max-width: 440px){
    .videoFooter{
      bottom: 22%;
    }

    .videoFooterMusic_text{
        width: 78%;
    }
  }
